<h1>PASSWORD GENERATOR</h1>


<div>
  <label for="">Enter Length</label>
  <input (input)="onChangeLength($event.target.value)"  />
</div>


<div>
  <label for="">Use Letters</label>
  <input (change)="onChangeLetter()" type="checkbox" />
</div>
<div>
  <label for="">Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label for="">Use Simboles</label>
  <input (change)="onChangeUseSimboles()" type="checkbox" />
</div>





<div>
  <button [disabled]= "!length " (click)="onButtonClick()">Generate </button>
</div>


<div>
  <label for="pass">Your password</label>
  <input type="text" value={{password}} />
</div>
<br>

 

<div>
  <input type="text" />
</div>